@import "../../styles-variables.scss";

.auth-title {
  letter-spacing: -0.0024em;
  line-height: 50px;
}

.auth-subtitle {
  color: $grey;
}

.google-btn {
  font-size: 1.1rem !important;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05), 0 4px 16px rgba(0, 0, 0, 0.06) !important;
}
