@import "../../../styles-variables.scss";

.header {
  min-height: 70px;
  width: 100%;
  background-color: $primary;
  color: $white;
  position: relative;
  z-index: 1;
  @include main-box-shadow;
}
