@import "../../../styles-variables.scss";

.dropdown-item--user-profile-menu {
  background-color: $white !important;

  &:active {
    background-color: $white !important;
  }

  &:hover {
    background-color: $light-grey !important;
  }
}
