@import "../../../styles-variables.scss";

.brand {
  cursor: pointer;

  .logo {
    height: 40px;
    width: auto;
  }

  .title {
    font-size: 20px;
  }

  .storename {
    font-size: 16px;
    color: $grey;
  }
}
