@import "../../../styles-variables.scss";

$border-radius: 22px;

.container--store-cover-photo {
  position: relative;
  height: 300px;
  width: 500px;
  border-radius: $border-radius;
  background-color: $light-grey;

  .img--store-cover-photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: $border-radius;
  }

  .container--btn-edit {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
