$white: white;
$black: black;
$transparent: transparent;

$primary: #34848c;
$primary-opaque: #34848c1a;
$warning: #f69e7b;
$danger: #f44336;
$success: #3ebd73;

$light-grey: #efefef;
$grey: grey;

$card-border-radius: 0.5rem;
