@import "./styles-variables.scss";

$theme-colors: (
  primary: $primary,
  secondary: $transparent,
  warning: $warning,
  danger: $danger,
  success: $success,
);

a {
  color: inherit !important;
  text-decoration: none !important;

  &:hover {
    color: inherit !important;
    text-decoration: none !important;
  }
}

.btn {
  &.btn-primary,
  &.btn-danger {
    color: $white !important;

    &:hover,
    &:focus,
    &:active {
      color: $white !important;
    }
  }
}

.card {
  border-radius: $card-border-radius;
  border: none !important;
  @include main-box-shadow;
}

.modal-dialog {
  .modal-content {
    padding: 1rem;

    .modal-header {
      border-bottom: none;

      .modal-title {
        font-size: 20px;
        font-weight: bold;
      }
    }

    .modal-footer {
      border-top: none;
    }
  }
}

.form-control,
.form-select {
  border: none !important;
  padding: 0.75rem !important;
  background-color: $light-grey !important;
}

table tr td:last-child {
  white-space: nowrap;
  width: 1px;
}

@import "~bootstrap/scss/bootstrap";
