.icon-btn {
  padding: 0.375rem 0.375rem !important;
  border-radius: 50%;

  &.icon-btn--sm {
    padding: 0 !important;
    height: 30px;
    width: 30px;
  }

  &.icon-btn--md {
    height: 40px;
    width: 40px;
  }

  &.icon-btn--lg {
    height: 65px;
    width: 65px;
  }
}
